packer {
  required_plugins {
    virtualbox = {
      source  = "github.com/hashicorp/vmware"
      version = "~> 1"
    }
    vagrant = {
      source  = "github.com/hashicorp/vagrant"
      version = "~> 1"
    }
  }
}

locals {
  output_directory = "artifacts/{{ packer_builder_name }}/builds/${formatdate("YYYY-MM-DD_hh-mm", timestamp())}"
}

source "vmware-iso" "{{ packer_builder_name }}" {
  version                         = {{ system_settings.version }}
  firmware                        = "{{ system_settings.firmware_type }}"
  headless                        = {{ system_settings.is_headless | lower }}
  vmx_remove_ethernet_interfaces  = {{ system_settings.is_vmx_remove_ethernet_interfaces | lower }}
  skip_export                     = {{ export_config.is_skip | lower }}
  guest_os_type                   = "{{ vmware_guest_os_type }}"
  vm_name                         = "{{ vm_name }}"
  
  cpus                            = {{ cpu_config.cpus }}
  cores                           = {{ cpu_config.cores }}
  memory                          = {{ system_settings.memory }}
  network_adapter_type            = "{{ system_settings.network_adapter_type }}"
  disk_size                       = {{ disk_config.size }}
  disk_type_id                    = {{ disk_config.type_id }}
  disk_adapter_type               = "{{ disk_config.adapter_type }}"

  cdrom_adapter_type              = "{{ iso_config.interface }}"
  iso_url                         = "{{ iso_config.url }}/{{ iso_config.file }}"
  iso_checksum                    = "{{ iso_config.checksum }}"
  iso_target_path                 = abspath("{{ iso_config.source }}/{{ iso_config.file }}") 
  output_directory                = abspath("${local.output_directory}")

  communicator                    = "{{ system_settings.communicator }}"
  http_directory                  = "artifacts/{{ packer_builder_name }}/{{ system_settings.http_directory }}"

  vnc_bind_address                = "{{ vnc_config.address }}"
  vnc_port_min                    = "{{ vnc_config.port }}"
  vnc_port_max                    = "{{ vnc_config.port }}"

  ssh_username                    = "{{ ssh_config.username }}"
  ssh_timeout                     = "{{ ssh_config.timeout }}"
  ssh_private_key_file            = "{{ ssh_config.private_key_file }}"

  boot_wait                       = "{{ boot_control.boot_wait }}"
  boot_command = [
    {%- for line in boot_command %}
    "{{ line | replace('"', '\\"') }}"{% if not loop.last %},{% endif -%}
    {% endfor -%}
  ]
  shutdown_command                = "{{ boot_control.shutdown_command }}"
}

build {
  sources = ["sources.vmware-iso.{{ packer_builder_name }}"]

  provisioner "file" {
    source = ".provision/files/regenerate_ssh_host_keys.service"
    destination = "/tmp/regenerate_ssh_host_keys.service"
  }

  provisioner "shell" {
    scripts = [
      "provision/scripts/regenerate_ssh_host_keys.sh",
      "provision/scripts/cleanup.sh",
      "provision/scripts/zero_space.sh"
    ]

  {%- if ssh_config.is_rootless %}
    execute_command = "sudo {% raw %}{{ .Path }}{% endraw %}"
  {%- else %}
    execute_command = "{% raw %}{{ .Path }}{% endraw %}"
  {%- endif %}
  }

  post-processor "vagrant" {
    compression_level    = 6
    keep_input_artifact  = true
    output               = "${local.output_directory}/{{ vm_name }}.box"
  }
}